
:root {
  --primary: #1e8c59;
  --primary-dark: #0d2c1f;
  --secondary: #f0fdf7;
  --text: #1a1a1a;
  --white: #ffffff;
}
body {
  background-color: var(--secondary);
  color: var(--text);
  font-family: "Tajawal", sans-serif; /* أو أي خط عربي حلو */
  margin: 0;
  padding: 0;
  direction: rtl;
}

h1,
h2,
h3 {
  color: var(--primary-dark) ;
}

.splash-screen {
  background: linear-gradient(135deg, var(--primary-dark), var(--primary));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  animation: fadeOut 1s ease-out 2s forwards; /* بعد 2 ثواني يختفي */
}

.splash-logo {
  width: 300px;
  max-width: 80vw;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.active {
  font-weight: bold;
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary);
}

.navbar {
  background-color: var(--primary-dark) !important;
  padding: 10px 20px;
  border-bottom: 2px solid var(--primary);
}

.navbar img {
  border-radius: 6px;
}

.navbar .nav-link,
.navbar .dropdown-toggle {
  color: var(--white) !important;
  font-weight: bold;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: var(--primary) !important;
}

.navbar .dropdown-menu {
  background-color: var(--primary-dark);
  border: none;
}

.navbar .dropdown-item {
  color: var(--white) !important;
}

.navbar .dropdown-item:hover {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.footer {
  background-color: var(--primary-dark) !important;
  color: var(--white) !important;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
 
}
.footer p{
  margin: 0;
}

/* @keyframes floatHorizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
} */

.animate-right-image {
  animation: floatHorizontal 3s ease-in-out infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-in-out;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary-dark) !important; /* لون أوضح */
  border-radius: 50%;
  padding: 10px;
  background-size: 60% 60%;
}

.navbar-toggler {
  background-color: white !important;
  
}
